<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-bullhorn mr-2" aria-hidden="true"></span>
    <strong>
        
        <span class="text-nowrap">
            Please select your House on left panel to cast your vote.
        </span>
    </strong>
   
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
